body {
    font-family: 'Segoe UI', 'San Francisco', 'Ubuntu', sans-serif;
    background: #f9f9fa;
}
tr {
	background: #fff;
}
th, td {
	padding: 0px 20px !important;
}
button { outline:0 !important; }
button.close::before { content: "\000D7" }
#rules-table {
	display: none;
}
#no-rules {
	display: none;
}